.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.number {
    font-size: 18px;
    font-weight: bold;
    min-width: 40px;
    text-align: left;
}

.slider {
    flex-grow: 1;
}